### C++ ###
# Compiled Object files
*.slo
*.lo
*.o
*.a
*.obj
*.so

# Executables
*.exe
*.out
*.app

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

### Project specific ###
dep/SFML-build
dep/Lua-build
dep/box2d-build
dep/Box2D-build
*.swp

bin/*

log.html

dep/box2d/Documentation

__pycache__
